body header{
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

body{
background-color: #f9c7dd
}

main section{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main section article{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

section form{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#resultater {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 80px;
}

#knapp {
    margin: 10px;
    border: 2px solid;
    border-radius: 5
}