body header{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

body{
background-color: #f9c7dd
}

main section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main section article{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}